{% trans_default_domain 'home' %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h2>{{ 'intro.title'|trans }}</h2>
        </div>
        <div class="spacer30"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 margin-bottom-45">
            <p>{{ 'intro.description'|trans }}</p>
        </div>

        <div class="spacer50"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature text-left">
                        <!-- feature icon -->
                        <div class="feature-icon">
                            <i class="flaticon-luxury"></i>
                        </div>
                        <!-- feature title -->
                        <h6>{{ 'intro.feature.1.title'|trans }}</h6>
                        <!-- feature detail -->
                        <div class="feature-detail">
                            <p>{{ 'intro.feature.1.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature text-left">
                        <!-- feature icon -->
                        <div class="feature-icon">
                            <i class="flaticon-web"></i>
                        </div>
                        <!-- feature title -->
                        <h6>{{ 'intro.feature.2.title'|trans }}</h6>
                        <!-- feature detail -->
                        <div class="feature-detail">
                            <p>{{ 'intro.feature.2.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature text-left">
                        <!-- feature icon -->
                        <div class="feature-icon">
                            <i class="flaticon-profile"></i>
                        </div>
                        <!-- feature title -->
                        <h6>{{ 'intro.feature.3.title'|trans }}</h6>
                        <!-- feature detail -->
                        <div class="feature-detail">
                            <p>{{ 'intro.feature.3.description'|trans }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="feature text-left">
                        <!-- feature icon -->
                        <div class="feature-icon">
                            <i class="flaticon-computer"></i>
                        </div>
                        <!-- feature title -->
                        <h6>{{ 'intro.feature.4.title'|trans }}</h6>
                        <!-- feature detail -->
                        <div class="feature-detail">
                            <p>{{ 'intro.feature.4.description'|trans }}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-70">
                    <div class="get-quote-box">
                        <h3>{{ 'intro.talk_more'|trans }}</h3>
                        <a href="{{ path('contact') }}" class="button-larg button-gradient">{{ 'intro.get_quote'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="white-box">
                <h3>{{ 'intro.what_we_do.title'|trans }}</h3>
                <p>{{ 'intro.what_we_do.description'|trans }}</p>
                {#<a class="read-more gradient-color" href="#"><ins>{{ 'intro.learn_more'|trans }}</ins><i class="fa fa-angle-right" aria-hidden="true"></i></a>#}
            </div>
        </div>
    </div>

    <div class="spacer100"></div>
    <div class="divider-content light-gray">
        <i class="fa fa-star"></i>
    </div>
</div>
