<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Acme | Multi Purpose HTML Template  - Home Main </title>
    <meta name="description" content="Multi Purpose HTML Template">
    <meta name="keywords" content="Multi Purpose HTML Template">
    <meta name="author" content="Revival Pixel">
    <meta property="og:title" content="Acme">
    <meta property="og:description" content="Multi Purpose HTML Template">
    <meta property="og:site_name" content="Acme">
    <meta property="og:url" content="http://acme.instani.com/html/index.html">
    <meta property="og:image" content="http://acme.instani.com/html/images/acme-logo.png">
    <meta name="twitter:card" content="Multi Purpose HTML Template">
    <meta name="twitter:site" content="http://acme.instani.com/html/index.html">
    <meta name="twitter:creator" content="Revival Pixel">
    <meta name="twitter:title" content="Acme">
    <meta name="twitter:description" content="http://acme.instani.com/html/index.html">
    <meta name="twitter:image" content="http://acme.instani.com/html/images/acme-logo.png">


    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="images/fevicon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">

    {% block stylesheets %}
        <meta name="twitter:creator" content="Revival Pixel">

        <link rel="stylesheet" href="{{ asset('css/app.min.css') }}" />
    {% endblock %}
</head>
<body class="wide">
    <header id="header" class="header-dark header-transparent header-navigation-light">
        <div id="header-wrap">
            <div class="container">
                <!--LOGO-->
                <div id="logo">
                    <a href="index.html" class="logo" data-dark-logo="images/logo.png">
                        <img src="images/logo-dark.png" alt="Polo Logo">
                    </a>
                </div>

                <!--MOBILE MENU -->
                <div class="nav-main-menu-responsive">
                    <button class="lines-button x" type="button" data-toggle="collapse" data-target=".main-menu-collapse"> <span class="lines"></span> </button>
                </div>

                <!--NAVIGATION-->
                <div class="navbar-collapse collapse main-menu-collapse navigation-wrap">
                    <div class="container">
                        <nav id="mainMenu" class="main-menu mega-menu">
                            <ul class="main-menu nav nav-pills">
                                <li><a href="{{ path('homepage') }}">Home</a></li>
                                <li><a href="{{ path('process') }}">Our process</a></li>
                                <li><a href="{{ path('about') }}">About us</a></li>
                                <li><a href="{{ path('contact') }}">Contact</a></li>
                                <li><a href="{{ path('blog') }}">Blog</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main-content">
        {% block body %}{% endblock %}
    </div>

    <footer class="footer-style-4">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="images/logo-dark.png" alt="Logo">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h6 class="footer-title">visit us</h6>
                <p class="top">44 Queen St, Louisville, <br> KY 778569, USA</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h6 class="footer-title">talk with us</h6>
                <p class="top">+1 1234567890<br>
                    <a class="red-text top" href="mailto:leo@website.com">leo@website.com</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h6 class="footer-title">follow US</h6>
                <div class="social-icon-box top">
                    <a target="blank" href="#" class="social-icon si-facebook" title="Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a target="blank" href="#" class="social-icon si-twitter" title="Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a target="blank" href="#" class="social-icon si-linkedin" title="Linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a target="blank" href="#" class="social-icon si-gplus" title="Google Plus">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                    <a target="blank" href="#" class="social-icon si-delicious" title="Behance">
                        <i class="fa fa-behance" aria-hidden="true"></i>
                        <i class="fa fa-behance" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Footer bottom -->
        <div class="bottom-footer">
            <div class="container text-center">
                <p class="copyright">Copyright © 2017. ACME Template for freelancer and agencies.</p>
            </div>
        </div>
    </footer>
    {% block javascripts %}
        <script type="application/javascript" src="{{ asset('js/app.min.js') }}" async></script>
    {% endblock %}
</body>
</html>
