{% trans_default_domain 'global' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Moabi Studio</title>
    <meta name="description" content="Moabi Studio">
    <meta name="keywords" content="">
    <meta property="og:title" content="Moabi Studio">
    <meta property="og:description" content="Moabi Studio">
    <meta property="og:site_name" content="Moabi Studio">
    <meta property="og:url" content="http://www.moabistudio.com">
    <meta property="og:image" content="http://www.moabistudio.com/logo.png">
    <meta name="twitter:card" content="Moabi Studio">
    <meta name="twitter:site" content="http://www.moabistudio.com">
    <meta name="twitter:creator" content="moabistudio">
    <meta name="twitter:title" content="Moabi Studio">
    <meta name="twitter:description" content="Moabi Studio">
    <meta name="twitter:image" content="http://www.moabistudio.com/logo.png">

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="{{ asset('/images/favicon.png') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/app.min.css') }}" />
    {% endblock %}
</head>
<body class="wide">
    <header id="header" class="header-dark header-transparent header-navigation-light">
        <div id="header-wrap">
            <div class="container">
                <!--LOGO-->
                <div id="logo">
                    <a href="{{ path('homepage') }}" class="logo" data-dark-logo="{{ asset('/images/logo.png') }}">
                        <img src="{{ asset('/images/logo-dark.png') }}" alt="Logo">
                    </a>
                </div>

                <!--MOBILE MENU -->
                <div class="nav-main-menu-responsive">
                    <button class="lines-button x" type="button" data-toggle="collapse" data-target=".main-menu-collapse"> <span class="lines"></span> </button>
                </div>

                <!--NAVIGATION-->
                <div class="navbar-collapse collapse main-menu-collapse navigation-wrap">
                    <div class="container">
                        <nav id="mainMenu" class="main-menu mega-menu">
                            <ul class="main-menu nav nav-pills">
                                <li><a href="{{ path('homepage') }}">{{ 'menu.home'|trans }}</a></li>
                                <li><a href="{{ path('process') }}">{{ 'menu.process'|trans }}</a></li>
                                <li><a href="{{ path('about') }}">{{ 'menu.about_us'|trans }}</a></li>
                                <li><a href="{{ path('contact') }}">{{ 'menu.contact'|trans }}</a></li>
                                {#<li><a href="{{ getReverseLocaleUrl() }}">{{ ('lang_switch.' ~ getTargetLocale())|trans }}</a></li>#}
                                {#<li><a href="{{ path('blog') }}">Blog</a></li>#}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="main-content">
        <div class="transparent-header">
            {% block hero %}
                <!-- Banner Section -->
                <div class="banner banner400" style="background-image: url({% block hero_image %}{{ asset('/images/hero.jpg') }}{% endblock %});">
                    <div class="banner-overlay"></div>
                    <div class="banner-inner">
                        <div class="container">
                            <h1>{% block hero_title %}{{ 'hero.title'|trans }}{% endblock %}</h1>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block body %}{% endblock %}
        </div>
    </div>

    <footer class="footer-style-4">
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="{{ asset('/images/logo-circle-white.png') }}" class="logo" alt="Logo">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h6 class="footer-title">{{ 'footer.visit_us'|trans }}</h6>
                <p class="top">{{ 'footer.address'|trans }}</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h6 class="footer-title">{{ 'footer.talk_with_us'|trans }}</h6>
                <p class="top">
                    <a href="tel:{{ 'footer.tel'|trans }}">{{ 'footer.tel'|trans }}</a>
                    <br>
                    <a class="top" href="mailto:{{ 'footer.email'|trans }}">{{ 'footer.email'|trans }}</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <h6 class="footer-title">{{ 'footer.follow_us'|trans }}</h6>
                <div class="social-icon-box top">
                    <a target="blank" href="https://www.facebook.com/moabistudio/" class="social-icon si-facebook" title="Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a target="blank" href="https://twitter.com/MoabiStudio" class="social-icon si-twitter" title="Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a target="blank" href="https://www.linkedin.com/organization/11127360" class="social-icon si-linkedin" title="Linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    {#<a target="blank" href="#" class="social-icon si-gplus" title="Google Plus">#}
                        {#<i class="fa fa-google-plus" aria-hidden="true"></i>#}
                        {#<i class="fa fa-google-plus" aria-hidden="true"></i>#}
                    {#</a>#}
                    {#<a target="blank" href="#" class="social-icon si-delicious" title="Behance">#}
                        {#<i class="fa fa-behance" aria-hidden="true"></i>#}
                        {#<i class="fa fa-behance" aria-hidden="true"></i>#}
                    {#</a>#}
                </div>
            </div>
        </div>
        <!-- Footer bottom -->
        <div class="bottom-footer">
            <div class="container text-center">
                <p class="copyright">{{ 'footer.copyright'|trans }}</p>
            </div>
        </div>
    </footer>
    {% block javascripts %}
        <script type="application/javascript" src="{{ asset('js/app.min.js') }}" async></script>
    {% endblock %}
</body>
</html>
