{% extends 'base.html.twig' %}

{% trans_default_domain 'about' %}

{% block hero_title %}{{ 'hero.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ 'menu.home'|trans({}, 'global') }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li>{{ 'menu.about_us'|trans({}, 'global') }}</li>
        </ul>
    </div>

    <div class="container padding-top-70 aboutus">
        <div class="container">
            <h2>{{ 'intro.title'|trans }}</h2>
            <p>{{ 'intro.description'|trans }}</p>
        </div>
        <div class="spacer50"></div>
        <div class="spacer20"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>{{ 'intro.part.1.title'|trans }}</h4>
                    <p>{{ 'intro.part.1.description'|trans }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>{{ 'intro.part.2.title'|trans }}</h4>
                    <p>{{ 'intro.part.2.description'|trans }}</p>
                </div>
            </div>
        </div>
        <div class="spacer30"></div>

        <!--our vision-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>{{ 'vision.title'|trans }}</h4>
                    <p>{{ 'vision.description'|trans }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>{{ 'mission.title'|trans }}</h4>
                    <p>{{ 'mission.description'|trans }}</p>
                </div>
            </div>
        </div>
        <div class="spacer30"></div>
        <div class="divider light-gray"></div>

        <!--our mission-->
        <div class="container">
            <h2>{{ 'values.title'|trans }}</h2>

            <div class="spacer30"></div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3 value">
                    <div class="thumb">
                        <picture>
                            <i class="fa fa-rocket"></i>
                        </picture>
                        <div class="caption">
                            <h3>{{ 'values.first.title'|trans }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 value">
                    <div class="thumb">
                        <picture>
                            <i class="fa fa-flask"></i>
                        </picture>
                        <div class="caption">
                            <h3>{{ 'values.second.title'|trans }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 value">
                    <div class="thumb">
                        <picture>
                            <i class="fa fa-shield"></i>
                        </picture>
                        <div class="caption">
                            <h3>{{ 'values.third.title'|trans }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3 value">
                    <div class="thumb">
                        <picture>
                            <i class="fa fa-line-chart"></i>
                        </picture>
                        <div class="caption">
                            <h3>{{ 'values.fourth.title'|trans }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="spacer30"></div>
    </div>

    <div class="light-grey-bg padding-default">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                    <!-- Team Style 2 -->
                    <div class="team style2">
                        <div class="team-image">
                            <!-- Team Image -->
                            <img class="img-responsive" src="{{ asset('images/axel.jpg') }}" alt="Axel Moussard">
                            <div class="team-hover">
                                <!-- Social Icon -->
                                <div class="social-icon-box">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="https://www.facebook.com/axel.moussard" target="_blank"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://twitter.com/drassuom"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.linkedin.com/in/axel-moussard/"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-detail">
                            <!-- Team Name -->
                            <div class="team-name">
                                <a href="#">Axel Moussard</a>
                            </div>
                            <!-- Team Designation -->
                            <div class="team-designation">
                                {{ 'team.axel.position'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-12">
                    <!-- Team Style 2 -->
                    <div class="team style2">
                        <div class="team-image">
                            <!-- Team Image -->
                            <img class="img-responsive" src="{{ asset('images/patrick.jpg') }}" alt="Patrick Roux">
                            <div class="team-hover">
                                <!-- Social Icon -->
                                <div class="social-icon-box">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a target="_blank" href="https://twitter.com/AdopteUnRoux"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://www.linkedin.com/in/patrick-roux/"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="http://www.patrickroux.ca"><i class="fa fa-dribbble"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-detail">
                            <!-- Team Name -->
                            <div class="team-name">
                                <a href="#">Patrick Roux</a>
                            </div>
                            <!-- Team Designation -->
                            <div class="team-designation">
                                {{ 'team.patrick.position'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-lg-4">
                    <!-- Team Style 2 -->
                    <div class="team style2">
                        <div class="team-image">
                            <!-- Team Image -->
                            <img class="img-responsive" src="{{ asset('images/karyann.jpg') }}" alt="Karyann Pilon">
                            <div class="team-hover">
                                <!-- Social Icon -->
                                <div class="social-icon-box">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a target="_blank" href="https://www.linkedin.com/in/karyann-pilon-63a871132/"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Team Detail -->
                        <div class="team-detail">
                            <!-- Team Name -->
                            <div class="team-name">
                                <a href="#">Karyann Pilon</a>
                            </div>
                            <!-- Team Designation -->
                            <div class="team-designation">
                                {{ 'team.karyann.position'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- call to Action -->
    {% include 'default/include/_contact-cta.html.twig' %}
{% endblock %}
