{% extends 'base.html.twig' %}

{% trans_default_domain 'about' %}

{% block body %}
    <div class="heading-style style-one" style="background-image: url(http://placehold.it/1920x400);">
        <!-- Heading Inner -->
        <div class="heading-inner">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title">
                    <h1>{{ 'hero.title'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ 'menu.home'|trans({}, 'global') }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li>{{ 'menu.about_us'|trans({}, 'global') }}</li>
        </ul>
    </div>

    <div class="container padding-top-70">
        <div class="container">
            <h2>{{ 'intro.title'|trans }}</h2>
            <p>{{ 'intro.description'|trans }}</p>
        </div>
        <div class="spacer50"></div>
        <div class="spacer20"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>{{ 'intro.part.1.title'|trans }}</h4>
                    <p>{{ 'intro.part.1.description'|trans }}</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>{{ 'intro.part.2.title'|trans }}</h4>
                    <p>{{ 'intro.part.2.description'|trans }}</p>
                </div>
            </div>
        </div>
        <div class="spacer30"></div>
        <div class="divider light-gray"></div>

        <!--our vision-->
        <div class="container">
            <h2>{{ 'vision.title'|trans }}</h2>
            <p>{{ 'vision.description'|trans }}</p>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="list-circle">
                        {% for i in 1..4 %}
                            <li>{{ ('vision.element.' ~ i ~ '.title')|trans }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="list-circle">
                        {% for i in 5..8 %}
                            <li>{{ ('vision.element.' ~ i ~ '.title')|trans }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="spacer30"></div>
        <div class="divider light-gray"></div>

        <!--our mission-->
        <div class="container">
            <h2>{{ 'mission.title'|trans }}</h2>
            {{ 'vision.description'|trans|markdown }}
        </div>
        <div class="spacer30"></div>
        <div class="divider light-gray"></div>

        <div class="container padding-top-100">
            <div class="row">
                <div class="team style3">
                    <div class="container">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Image -->
                            <div class="team-image left">
                                <img class="img-responsive" src="{{ asset('images/axel.jpg') }}" alt="Axel Moussard">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Detail -->
                            <div class="team-detail">
                                <!-- team Detail -->
                                <div class="team-name">
                                    <a href="#">Axel Moussard</a>
                                </div>
                                <!-- team Designation -->
                                <div class="team-designation">{{ 'team.axel.position'|trans }}</div>
                                {{ 'team.axel.description'|trans|markdown }}
                                <!-- Social Icon -->
                                <div class="social-icon-box">
                                    <a class="social-icon si-colored si-facebook" target="_blank" href="https://www.facebook.com/axel.moussard">
                                        <i aria-hidden="true" class="fa fa-facebook"></i>
                                        <i aria-hidden="true" class="fa fa-facebook"></i>
                                    </a>
                                    <a class="social-icon si-colored si-twitter" target="_blank" href="https://twitter.com/drassuom">
                                        <i aria-hidden="true" class="fa fa-twitter"></i>
                                        <i aria-hidden="true" class="fa fa-twitter"></i>
                                    </a>
                                    <a class="social-icon si-colored si-linkedin" target="_blank" href="https://www.linkedin.com/in/axel-moussard/">
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                    </a>
                                    <a class="social-icon si-colored si-gplus" target="_blank" href="https://plus.google.com/u/0/+AxelMoussard">
                                        <i aria-hidden="true" class="fa fa-google-plus"></i>
                                        <i aria-hidden="true" class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Detail -->
                            <div class="team-detail">
                                <!-- team Name -->
                                <div class="team-name">
                                    <a href="#">Patrick Roux</a>
                                </div>
                                <!-- team Designation -->
                                <div class="team-designation">{{ 'team.patrick.position'|trans }}</div>
                                {{ 'team.patrick.description'|trans|markdown }}
                                <!-- Social Icon -->
                                <div class="social-icon-box">
                                    <a class="social-icon si-colored si-twitter" target="_blank" href="https://twitter.com/AdopteUnRoux">
                                        <i aria-hidden="true" class="fa fa-twitter"></i>
                                        <i aria-hidden="true" class="fa fa-twitter"></i>
                                    </a>
                                    <a class="social-icon si-colored si-linkedin" target="_blank" href="https://www.linkedin.com/in/patrick-roux/">
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Image -->
                            <div class="team-image right">
                                <img class="img-responsive" src="{{ asset('images/patrick.jpg') }}" alt="Patrick Roux">
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Image -->
                            <div class="team-image left">
                                <img class="img-responsive" src="{{ asset('images/karyann.jpg') }}" alt="Karyann Pilon">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- team Detail -->
                            <div class="team-detail">
                                <!-- team Detail -->
                                <div class="team-name">
                                    <a href="#">Karyann Pilon</a>
                                </div>
                                <!-- team Designation -->
                                <div class="team-designation">{{ 'team.karyann.position'|trans }}</div>
                                {{ 'team.karyann.description'|trans|markdown }}
                                <!-- Social Icon -->
                                <div class="social-icon-box">
                                    <a class="social-icon si-colored si-linkedin" target="_blank" href="https://www.linkedin.com/in/karyann-pilon-63a871132/">
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                        <i aria-hidden="true" class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer100"></div>
    <!-- call to Action -->
    {% include 'default/include/_contact-cta.html.twig' %}
{% endblock %}
