{% extends 'base.html.twig' %}

{% trans_default_domain 'contact' %}

{% form_theme form 'form/contact.html.twig' %}

{% block body %}
    <div class="heading-style style-one" style="background-image: url(http://placehold.it/1920x400);">
        <!-- Heading Inner -->
        <div class="heading-inner">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title">
                    <h1>{{ 'hero.title'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ 'menu.home'|trans({}, 'global') }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li>{{ 'menu.contact'|trans({}, 'global') }}</li>
        </ul>
    </div>

    <!-- Contact Page With Image Background -->
    <div class="contact padding-default">
        <div class="container">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    {{ 'description'|trans|markdown }}
                </div>
            </div>

            <div class="spacer20"></div>
            <div class="row">
                <div class="col-lg-6 col-sm-7 col-md-7 col-xs-12">
                    <div class="form-box contact-from-box">
                        {{ form(form) }}
                    </div>
                </div>

                <div class="col-lg-5 col-sm-5 col-md-4 col-xs-12 pull-right">
                    <div class="contact-sidebar">
                        <p>{{ 'footer.address'|trans({}, 'global') }}</p>
                    </div>
                    <!-- Address -->
                    <div class="address">
                        <p>
                            <span><i class="fa fa-phone" aria-hidden="true"></i></span> <a href="tel:+14383930144">{{ 'footer.tel'|trans({}, 'global') }}</a>
                            <br>
                            <span><i class="fa fa-envelope" aria-hidden="true"></i></span> <a href="mailto:hello@moabistudio.com">{{ 'footer.email'|trans({}, 'global') }}</a>
                        </p>
                    </div>
                    <!-- Social Icon -->
                    <div class="style-four dark-grey squareborder contact-social-icon">
                        <a href="https://www.facebook.com/moabistudio/" target="_blank" class="social-icon si-rounded  si-border-dark si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>

                        <a href="https://twitter.com/MoabiStudio" target="_blank" class="social-icon si-rounded  si-border-dark si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="https://www.linkedin.com/organization/11127360" target="_blank" class="social-icon si-rounded  si-border-dark si-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Google Map -->
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.132433188042!2d-73.39021368428561!3d45.467136079101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc906150497dc4b%3A0x7e5d7f63f617fd4b!2s4065+Rue+R%C3%A9gina-Gagnon%2C+Saint-Hubert%2C+QC+J3Y+5L1!5e0!3m2!1sfr!2sca!4v1495497344990"></iframe>
    </div>
{% endblock %}
