{% extends 'base.html.twig' %}

{% trans_default_domain 'contact' %}

{% form_theme form 'form/contact.html.twig' %}

{% block title %}{{ 'meta.title'|trans }}{% endblock %}
{% block description %}{{ 'meta.description'|trans }}{% endblock %}
{% block keywords %}{{ 'meta.keywords'|trans }}{% endblock %}
{% block og_title %}{{ 'meta.title'|trans }}{% endblock %}
{% block og_description %}{{ 'meta.description'|trans }}{% endblock %}
{% block twitter_title %}{{ 'meta.title'|trans }}{% endblock %}
{% block twitter_description %}{{ 'meta.description'|trans }}{% endblock %}

{% block hero_title %}{{ 'hero.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ 'menu.home'|trans({}, 'global') }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li>{{ 'menu.contact'|trans({}, 'global') }}</li>
        </ul>
    </div>

    <!-- Contact Page With Image Background -->
    <div class="contact padding-default">
        <div class="container">
            {% for flash_message in app.session.flashBag.get('contact_success') %}
                <div class="alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    {{ 'description'|trans|markdown }}
                </div>
            </div>

            <div class="spacer20"></div>
            <div class="row">
                <div class="col-lg-6 col-sm-7 col-md-7 col-xs-12">
                    <div class="form-box contact-from-box">
                        {{ form(form) }}
                    </div>
                </div>

                <div class="col-lg-5 col-sm-5 col-md-4 col-xs-12 pull-right">
                    <div class="contact-sidebar">
                        <p>{{ 'footer.address'|trans({}, 'global')|raw }}</p>
                    </div>
                    <!-- Address -->
                    <div class="address">
                        <p>
                            <span><i class="fa fa-phone" aria-hidden="true"></i></span> <a href="tel:{{ 'footer.tel'|trans({}, 'global') }}">{{ 'footer.tel'|trans({}, 'global') }}</a>
                            <br>
                            <span><i class="fa fa-envelope" aria-hidden="true"></i></span> <a href="mailto:{{ 'footer.email'|trans({}, 'global') }}">{{ 'footer.email'|trans({}, 'global') }}</a>
                        </p>
                    </div>
                    <!-- Social Icon -->
                    <div class="style-four dark-grey squareborder contact-social-icon">
                        <a href="https://www.facebook.com/moabistudio/" target="_blank" class="social-icon si-rounded  si-border-dark si-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>

                        <a href="https://twitter.com/MoabiStudio" target="_blank" class="social-icon si-rounded  si-border-dark si-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>

                        <a href="https://www.linkedin.com/organization/11127360" target="_blank" class="social-icon si-rounded  si-border-dark si-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Google Map -->
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2794.714079388119!2d-73.59761504827259!3d45.535958978999346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91966fab55f39%3A0xad6b408ca4f29568!2s5866+Rue+de+la+Roche%2C+Montr%C3%A9al%2C+QC+H2S+2C7!5e0!3m2!1sfr!2sca!4v1496260461981"></iframe>
    </div>
{% endblock %}
