{% extends 'base.html.twig' %}

{% trans_default_domain 'process' %}

{% block body %}
    <!-- Heading Style -->
    <div class="heading-style style-one" style="background-image: url(http://placehold.it/1920x400);">
        <!-- Heading Inner -->
        <div class="heading-inner">
            <div class="container">
                <!-- Page Title -->
                <div class="page-title">
                    <h1>{{ 'hero.title'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Breadcrumb -->
        <ul class="breadcrumb">
            <li><a href="{{ path('homepage') }}">{{ 'menu.home'|trans({}, 'global') }}</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
            <li>{{ 'menu.process'|trans({}, 'global') }}</li>
        </ul>
    </div>

    <div class="spacer100"></div>
    <!-- Our Process -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- Our Process Box -->
                <div class="our-process-box image-right">
                    <!-- Our Process Detail -->
                    <div class="detail">
                        <div class="number">01</div>
                        <h2>{{ 'step.1.title'|trans }}</h2>
                        <p>{{ 'step.1.description'|trans }}</p>
                    </div>

                    <!-- Our Process Image -->
                    <div class="image">
                        <img src="{{ asset('/images/our-process-1.png') }}" alt="Our Process">
                    </div>

                </div>
                <!-- Process Line -->
                <div class="process-line">
                    <img  src="{{ asset('/images/process.svg') }}" alt="Process Line">
                </div>

                <!-- Our Process Box -->
                <div class="our-process-box image-left">

                    <!-- Our Process Image -->
                    <div class="image">
                        <img src="{{ asset('/images/our-process-2.png') }}" alt="Our Process">
                    </div>

                    <!-- Our Process Detail -->
                    <div class="detail">
                        <div class="number">02</div>
                        <h2>{{ 'step.2.title'|trans }}</h2>
                        <p>{{ 'step.2.description'|trans }}</p>
                    </div>

                </div>
                <!-- Process Line -->
                <div class="process-line">
                    <img  src="{{ asset('/images/process2.svg') }}" alt="Process Line">
                </div>


                <div class="our-process-box image-right">
                    <!-- Our Process Detail -->
                    <div class="detail">
                        <div class="number">03</div>
                        <h2>{{ 'step.3.title'|trans }}</h2>
                        <p>{{ 'step.3.description'|trans }}</p>
                    </div>

                    <!-- Our Process Image -->
                    <div class="image">
                        <img src="{{ asset('/images/our-process-3.png') }}" alt="Our Process">
                    </div>

                </div>
                <!-- Process Line -->
                <div class="process-line">
                    <img  src="{{ asset('/images/process.svg') }}" alt="Process Line">
                </div>

                <!-- Our Process Box -->
                <div class="our-process-box image-left">

                    <!-- Our Process Image -->
                    <div class="image">
                        <img src="{{ asset('/images/our-process-4.png') }}" alt="Our Process">
                    </div>
                    <!-- Our Process Detail -->
                    <div class="detail">
                        <div class="number">04</div>
                        <h2>{{ 'step.4.title'|trans }}</h2>
                        <p>{{ 'step.4.description'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer100"></div>
    <!-- call to Action -->
    {% include 'default/include/_contact-cta.html.twig' %}
{% endblock %}
